* {
  box-sizing: border-box;
  /*! border: 1px solid; */
}

html {
  scroll-behavior: smooth;
}

body {
  clear: both;
  margin: 0;
  padding: 0;
  /*width: 100%;*/
  margin: 0 auto;
  text-align: center;
  display: block;
  background-color: Gainsboro;
}

.title {
  font-size: 20pt;
  font-weight: bold;
  font-family: Arial;
}

.s_g_overlay {
  position: absolute;
  display: inline-block;
  color: black;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: all linear .3s;
  right: 0;
}

.s_g_overlay i {
  background-color: white;
  border-radius: 20%;
  width: 25px;
  height: 25px;
  position: relative;
  top: calc(50% - 12.5px);
  margin: 0 5% 0 5%;
  line-height: 1.5;
  cursor: pointer;
}

.s_g_overlay:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

.brclear {
  clear: both;
  height: 0;
  margin: 0;
  font-size: 1px;
  line-height: 0;
}

.row::before,
.row::after {
  content: "";
  display: table;
  clear: both;
}

.row {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

[class*="col-"] {
  min-height: 1px;
  padding: 10px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.col-offset-0 {
  margin-left: 0;
}

.col-offset-1 {
  margin-left: 8.33%;
}

.col-offset-2 {
  margin-left: 16.66%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-offset-4 {
  margin-left: 33.33%;
}

.col-offset-5 {
  margin-left: 41.66%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-offset-7 {
  margin-left: 58.33%;
}

.col-offset-8 {
  margin-left: 66.66%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-offset-10 {
  margin-left: 83.33%;
}

.col-offset-11 {
  margin-left: 91.66%;
}

#nav {
  width: 100%;
  padding-bottom: 30px;
  background-color: #313332;
}

#nav img {
  margin: 40px 0 0 40px;
  float: left;
}

#nav nav {
  padding-top: 40px;
}

#nav nav a {
  font-family: Verdana;
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 0;
  width: 90px;
  transition: all linear .3s;
}

#nav nav a:hover {
  color: #00c7e8;
}

@media (max-width: 768px) {
  #nav {
    height: auto;
    text-align: center;
  }
  #nav img {
    margin: 20px auto;
    float: unset;
  }
  #nav nav {
    padding-top: 0;
  }
  #nav nav a {
    display: block;
    margin: 20px auto 20px auto;
  }
}

#s_welcome {
  position: relative;
  height: 400px;
  margin-bottom: 100px;
}

#s_welcome .carousel .carousel-cell > div {
  height: 400px;
  width: 100vw;
  background-position: center 0;
  background-size: cover;
}

#s_welcome .carousel .flickity-page-dots {
  bottom: 0;
}

#s_welcome .carousel .flickity-page-dots .dot {
  padding: 10px;
  margin: 20px;
  opacity: 0.75;
  background-color: grey;
}

#s_welcome .carousel .flickity-page-dots .is-selected {
  opacity: 1;
  background-color: white;
}

#s_welcome .progress-bar {
  height: 20px;
  width: 0;
  background: #333;
}

#s_welcome .text {
  background-color: rgba(50, 50, 50, 0.7);
  width: 350px;
  float: right;
  padding: 10px;
  top: 50%;
  position: relative;
  transform: translate(0, -50%);
}

#s_welcome .slogan {
  color: white;
  text-align: left;
  font-style: serif;
  font-size: 15pt;
  font-weight: 100;
}

#s_welcome .slogan:nth-child(2) {
  font-weight: bold;
}

@media (max-width: 768px) {
  #s_welcome .text {
    width: auto;
  }
}

#s_offert {
  margin-bottom: 100px;
}

#s_offert .s_o_r {
  vertical-align: top;
  display: inline-block;
  margin: 4%;
  max-width: 15%;
  min-width: 180px;
}

#s_offert .s_o_r * {
  transition: all linear .3s;
}

#s_offert .s_o_r i {
  background-color: #313332;
  color: white;
  font-size: 30px;
  border-radius: 10%;
  padding: 15px;
}

#s_offert .s_o_r:hover h4 {
  color: #00c7e8;
}

#s_offert .s_o_r:hover i {
  background-color: #00c7e8;
}

@media (max-width: 768px) {
  #s_offert .s_o_r {
    display: block;
    max-width: unset;
  }
}

#s_gallery {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

#s_gallery > div {
  background-position: center 0;
  background-size: cover;
  -ms-flex: 1 0 16.66%;
      flex: 1 0 16.66%;
  padding: 0;
  padding-top: 16.66%;
  position: relative;
}

#s_gallery > div img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#s_gallery > div:nth-child(5), #s_gallery > div:nth-child(6) {
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  position: relative;
}

@media (max-width: 768px) {
  #s_gallery > div {
    -ms-flex: 1 0 33.333%;
        flex: 1 0 33.333%;
    padding-top: 33.333%;
  }
  #s_gallery div:nth-child(5),
  #s_gallery div:nth-child(6) {
    -ms-flex-preferred-size: 66.666%;
        flex-basis: 66.666%;
    position: relative;
  }
}

#s_workers {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  margin-top: 50px;
  max-width: 1000px;
  margin: auto;
}

#s_workers > div {
  margin: 50px 10px 0 20px;
  -ms-flex: 1;
      flex: 1;
}

#s_workers > div > div {
  border-radius: 100%;
  background: #eee no-repeat center;
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 100%;
  box-shadow: 0 0 15px 2px #000;
}

#s_workers > div > div img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#s_workers > div > div > span {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  opacity: 0;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  transition: 0.4s ease-in;
}

#s_workers > div > div > span:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  #s_workers > div {
    -ms-flex: 1 0 40%;
        flex: 1 0 40%;
  }
}

#s_offert-2 {
  margin: 3vw auto 0 auto;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: top;
  -ms-flex-pack: center;
      justify-content: center;
  max-width: 1200px;
  width: 100%;
}

#s_offert-2 .s_offert-2_container {
  text-align: initial;
}

#s_offert-2 .s_offert-2_container > .text {
  display: inline-block;
  margin-top: 20px;
  vertical-align: top;
  width: 45%;
  margin-right: 10px;
}

#s_offert-2 .s_offert-2_container > .text:first-child {
  width: 200px;
}

#s_offert-2 .tablet_gallery {
  margin: 0 50px 50px auto;
  min-width: 300px;
  min-height: 300px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: url("https://svgshare.com/i/AC5.svg");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 24px;
  padding-bottom: 0;
  filter: drop-shadow(40px 25px 4px black);
}

#s_offert-2 .tablet_gallery > div {
  position: relative;
  -ms-flex: 0 0 33.3333%;
      flex: 0 0 33.3333%;
  background-position: center 0;
  background-size: cover;
}

@media (max-width: 768px) {
  #s_offert-2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #s_offert-2 .s_offert-2_container {
    margin-top: 50px;
    text-align: center;
  }
  #s_offert-2 .tablet_gallery {
    margin: auto;
  }
}

#s_stats {
  margin-top: 50px;
  margin-bottom: 50px;
}

#s_stats div {
  display: inline-block;
  padding: 0;
  margin: 30px 20px 50px 30px;
  font-family: Verdana;
  font-weight: bold;
  font-size: 40pt;
  color: #313332;
}

#s_stats div p {
  font-size: 15pt;
  color: #00c7e8;
}

@media (max-width: 768px) {
  #s_stats {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #s_stats > div {
    -ms-flex: 1 0 40%;
        flex: 1 0 40%;
    margin: auto;
  }
}

#s_info {
  background-color: #2e3332;
  min-height: 200px;
}

#s_info div {
  display: inline-block;
  margin: 40px 10px 40px 10px;
  padding: 10px 0 10px 0;
  width: 25%;
  color: white;
  font-family: Verdana;
  font-size: 15pt;
  font-weight: normal;
  text-align: left;
  vertical-align: top;
}

#s_info .d_title {
  display: -ms-flexbox;
  display: flex;
  font-size: 15pt;
  font-weight: bold;
}

#s_info .d_title > hr {
  margin: auto auto auto 10px;
  display: block;
  height: 2px;
  -ms-flex: 1;
      flex: 1;
  z-index: 1;
}

#s_info div div,
#s_info div span {
  font-size: 10pt;
  margin: 0;
  width: 100%;
  display: block;
  font-family: Verdana;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  #s_info > div {
    display: block;
    width: auto;
    margin: 0 5vw 0 5vw;
  }
}

.social_buttons {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  float: unset;
}

.social_buttons i {
  background-color: #4a6573;
  margin: 5px;
  width: 35px;
  height: 35px;
  padding: 7px;
  font-size: 15pt;
  text-align: center;
}

.social_buttons .fas,
.social_buttons .fab {
  transition: 0.5s;
}

.social_buttons .fa-youtube:hover {
  background-color: #d7281f;
}

.social_buttons .fa-google-plus-g:hover {
  background-color: #d74a3d;
}

.social_buttons .fa-facebook-f:hover {
  background-color: #4267b2;
}

.social_buttons .fa-basketball-ball:hover {
  color: orange;
}

.social_buttons .fa-twitter:hover {
  color: #53cff5;
}

.social_buttons .fa-camera-retro:hover {
  color: black;
}

footer {
  width: 100;
  background-color: #252726;
  color: white;
}
/*# sourceMappingURL=style.css.map */